<style>
    .navbar{
        background-color:transparent;
        border: none;
    }
</style>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container hidden-xs">
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right" >
        <a href="/porque" style="color:black;">¿Por qué EMOJI Mezcal?</a>
      </li>
        <li class="navbar-right">
        <a href="/proceso" style="color:black;">Proceso de Aceptación</a>
      </li>
        <li class="navbar-right" >
        <a href="/" style="color:black;">Inicio</a>
      </li>
    </ul>
  </div>
    <div class="container hidden-lg hidden-md hidden-sm" style="font-size:75%; margin-top:10px;" align="center">
     <a href="/" style="color:black; margin:10px;">Inicio</a>
     <a href="/porque" style="color:black; margin:10px;" >¿Por qué EMOJI Mezcal?</a>
     <a href="/proceso" style="color:black; margin:10px;">Proceso de Aceptación</a>
  </div>
</nav>
