<style>
    .navbar{
        background-color:black;
        border: none;
    }
</style>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container hidden-xs">
    <ul class="nav navbar-nav navbar-right" style="
    font-family:Fjalla One">
        <li class="navbar-right">
        <a href="/proceso" style="color:white;">PROCESO DE ACEPTACIÓN</a>
      </li>
        <li class="navbar-right" >
        <a href="/porque" style="color:white;">¿POR QUÉ EMOJI MEZCAL?</a>
      </li>
        <li class="navbar-right" >
        <a href="/" style="color:white;">INICIO</a>
      </li>
    </ul>
  </div>
    <div class="container hidden-lg hidden-md hidden-sm" style="font-size:80%; margin-top:15px; font-family:Fjalla One" align="center" >
     <a href="/" style="color:white; margin:10px;">INICIO</a>
    <a href="/proceso" style="color:white; margin:10px;">PROCESO DE ACEPTACIÓN</a>
     <a href="/porque" style="color:white; margin:10px;" >¿POR QUÉ EMOJI MEZCAL?</a>
     
  </div>
</nav>
