<style>
    .navbar{
        background-color:transparent;
        border: none;
    }
</style>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right" >
        <a href="/porque" style="color:black;">¿Por qué EMOJI Mezcal?</a>
      </li>
        <li class="navbar-right">
        <a href="/proceso" style="color:black;">Proceso de Aceptación</a>
      </li>
        <li class="navbar-right" >
        <a href="/" style="color:black;">Inicio</a>
      </li>
    </ul>
  </div>
</nav>
