<!-- Comment #4: Plugin Code -->
  <div class="fb-quote"></div>

<!-- Javascript -->
        <script type="text/javascript" src="/javascript/jquery.min.js"></script>
        <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascript/matchMedia.js"></script>
        <script type="text/javascript" src="/javascript/jquery.easing.js"></script>
        <script type="text/javascript" src="/javascript/owl.carousel.js"></script>
        <script type="text/javascript" src="/javascript/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/javascript/imagesloaded.min.js"></script>
        <script type="text/javascript" src="/javascript/jquery-countTo.js"></script>
        <script type="text/javascript" src="/javascript/jquery-waypoints.js"></script>
        <script type="text/javascript" src="/javascript/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/javascript/parallax.js"></script>
        <script type="text/javascript" src="/javascript/jquery-validate.js"></script>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1y5fgyZ5-mw2PaUkBYc90KUYEZGzR5G8" type="text/javascript"></script>        
        <script type="text/javascript" src="/javascript/gmap3.min.js"></script>
        <script type="text/javascript" src="/javascript/main.js"></script>