<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '131374620779519'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=131374620779519&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    
</head>
    
    <style>
     .gif {
        background-repeat: no-repeat;
        background-position: center; 
    }
        
    body{
       background-color: #ffcc16;      
        }        
        
      .dropdown-menu, .dropdown-toggle, .dropdown{
        background-color:transparent;
        border: none;  
    }
    
    .dropdown-toggle:hover{
        background:transparent;
        border: none; 
    }    
        
    </style>
    
<body>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=344206336019280";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
   <% include ../partials/en/nav.ejs %>
    
    <div class="gif" align="center" style="height:100%; width:100%; height:1000px;">
    <div class="container" style="z-index:-1 ;">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px; text-align:center; z-index:-1;"  align="center">
                <h1 align="center" style="text-align:center; z-index:-1; font-family:Fjalla One">¿Why a mezcal EMOJI ?</h1>
            </div>
            <div class="col-lg-12" align="center" style="z-index:-1;">
                
                <ul style="max-width:500px; font-family:Fjalla One; padding:0;" align="justify">
                    <br>
                    <ol style="padding:0;"><p>1. Mezcal is a distillate produced from agave, i.e., Tequila is one type of Mezcal. In order to harvest an agave, one has to wait 10 years, similarly to a good aged whisky.</p>
                    <div><img src="img/grafico-mezcal-whisky-en.png"></div>
                    </ol>
                    <br>
                    <br>
                    <br>
                    <ol style="padding:0;" ><p>2. Mezcal has a Denomination of Origin, as other famous distillates like Cognac and Scotch Whisky. In fact it's the largest D.O. in the world.</p>
                    <div><img src="img/Grafico-DO-en.png"></div>
                    </ol >
                    <br>
                    <br>
                    <br>
                    <ol style="padding:0;" ><p>3. Mezcal is one of the most exciting categories in the world, averaging +100% growth exports worldwide, over the past 4 years.</p>
                    <div><img src="img/GraficoExportacion-en.png"></div>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
        <form id="votacion" method="post" action="/votacion" >
        <div class="container" align="center" style="text-align:center;"> 
            <div class="row" align="center">
                    
                    <div class="col-lg-12" align="center" style="margin-bottom:15px;">
                        <div class="input-wrap">
                        <button class="button" form="votacion" style="background-color:black; color:white; font-size:150%; border:none;">VOTE HERE</button>
                        </div>
                    </div>
                
                <div class="col-lg-12" align="center" style="text-align:center;">
                        <input style="background-color: white; width:300px;" type="email" value="" tabindex="2" placeholder="E-mail" name="email" required>
                    </div>
                    <div class="fb-share-button" data-href="http://www.emojimezcal.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.emojimezcal.com%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
        </div>
        </form>
    </div>
</body>
    
    <% include ../partials/foot.ejs %>
    
</html>