<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '131374620779519'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" E
src="https://www.facebook.com/tr?id=131374620779519&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    
</head>
    
<style>
    
    #message {
        position: fixed;
        top: 150px;
        left: 50px;
        width: 40%;
        border-radius:10px;
    }
    #inner-message {
        margin: 0 auto;
    }
    
    .gif {
        background-image: url('<%=imagen%>');
        background-repeat: no-repeat;
        background-color: <%=color%>;     
        background-position: center ; 
    }
    
    .button:hover {
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .dropdown-menu, .dropdown-toggle, .dropdown{
        background-color:transparent;
        border: none;  
    }
    
    .dropdown-toggle:hover{
        background:transparent;
        border: none; 
    }
    
   .dropdown-toggle:active {
        background-color: black;
        border: none; 
    }
    
    // Mixin itself
    @mixin clearfix() {
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }

    // Usage as a mixin
    .element {
      @include clearfix;
    }
    
    
</style>   
    
    
<body style="background-color:#ffcc16;">
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=344206336019280";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=344206336019280";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=344206336019280";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

      <% include ../partials/es/nav.ejs %>

    
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs gif" align="center" style="height:900px; width:100%; top:-110px;">
    
     
    
    <% if(color == 'none'){ %>
        
             <div class="container">
                <div class="row">
                    <div class="col-lg-12"> <h1 align="center" style="z-index:500; margin-top:130px;">VOTA PARA TENER EL EMOJI DE MEZCAL EN WHATSAPP</h1></div>
                </div>
            </div> 
        
            <form id="votacion" method="post" action="/votacion" >
            <div class="container">
                <div class="row">
                        <div class="col-lg-12" align="center" style="margin-top:445px;">
                            <div class="input-wrap">
                            <button class="button" form="votacion" style="background-color:black; color:white; font-size:150%; border:none;">VOTA AQUÍ</button>
                            </div>
                           
                        </div>
                </div>
            </div>
            </form>
    
        <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center" style="margin-top:15px; margin-bottom:20px;" ><h3 style="margin:0px;">#emojimezcal</h3>
                <span style="color:black;">#mezcal #mezcalparatodos #votaemojimezcal #mezcalizandoalmundo #merezcomiemoji</span>
            </div>
    
        </div>
        </div>
    
    <% }else{ %>
        
         <div class="container">
        <div class="row" style="margin-top:610px;">
            <br/>
            <div class="fb-like" data-href="http://www.emojimezcal.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
            <br/>
            <br/>
             <div class="fb-share-button" data-href="http://www.emojimezcal.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.emojimezcal.com%2F&amp;src=sdkpreparse">Share</a></div>
            <div class="col-lg-12" align="center" style="margin-bottom:20px; margin-top:10px;" ><h3 style="margin:0px;">#emojimezcal</h3>
            <span style="color:black;">#mezcal #mezcalparatodos #votaemojimezcal #mezcalizandoalmundo #merezcomiemoji</span>
            </div>
        </div>
        </div>
    
    <% } %>
         
    <div class="clearfix"></div>
    
    <!-- Display the countdown timer in an element --> 
    <div class="container" >
        <div class="row">
            <div class="col-lg-12" align="center">
                <h2 align="center" style="margin-bottom:0px;"><p id="demo" style="margin-bottom:0px;" align="center"></p></h2>
                <span style="color:black; font-size:75%; height:20px;">La votación se termina el 13 de septiembre</span>
            </div>
            <div class="col-lg-12" align="center">
                <div class="fb-comments" data-href="http://www.emojimezcal.com" data-numposts="1" data-order-by="social"></div>
            </div>
        </div>
    </div>
    
</div>
    
<div class="col-xs-12 hidden-sm hidden-md hidden-lg gif" style="background-size:700px; height:700px; top:-100px; " align="center top">
    
    <% if(color == 'none'){ %>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12"> <h3 align="center" style="z-index:500; margin-top:100px;">VOTA PARA TENER EL EMOJI DE MEZCAL EN WHATSAPP</h3></div>
            </div>
        </div>  
    
        <form id="votacion2" method="post" action="/votacion" >
        <div class="container">
            <div class="row">
                    <div class="col-lg-12" align="center" style="margin-top:315px;">
                        <div class="input-wrap">
                        <button class="button" form="votacion2" style="background-color:black; color:white; font-size:150%; border:none;">VOTA AQUÍ</button>
                        </div>
                        
                    </div>
            </div>
        </div>
        </form>
    
         <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center" style="margin-top:15px; margin-bottom:20px;" ><h3 style="margin:0px;">#emojimezcal</h3>
                <span style="color:black;">#mezcal #mezcalparatodos #votaemojimezcal #mezcalizandoalmundo #merezcomiemoji</span>
            </div>
                
    
        </div>
        </div>
    
    <% }else{ %>
        
         <div class="container" style="margin-top:400px;" align="center">
        <div class="row" align="center">
            <br/>
            <div class="fb-like" data-href="http://www.emojimezcal.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
            <br/>
            <br/>
            <div class="fb-share-button" data-href="http://www.emojimezcal.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.emojimezcal.com%2F&amp;src=sdkpreparse">Share</a></div>
            <div class="col-lg-12" align="center" style="margin-top:15px; margin-bottom:20px;" ><h3 style="margin:0px;">#emojimezcal</h3>
                <span style="color:black;">#mezcal #mezcalparatodos #votaemojimezcal #mezcalizandoalmundo #merezcomiemoji</span>
            </div>
        </div>
        </div>
    
    <% } %>
    
     <div class="clearfix"></div>
    
    <!-- Display the countdown timer in an element --> 
    <div class="container" style="height:100%;">
        <div class="row" >
            <div class="col-lg-12" align="center" >
                <h2 align="center" style="margin-bottom:0px;"><p id="demo2" style="height:30px; margin-top:20px; margin-bottom:0px;" align="center"></p></h2>
                <span style="color:black; font-size:75%; height:20px;">La votación se termina el 13 de septiembre</span>
            </div>
            <div class="col-lg-12" align="center">
                <div class="fb-comments" data-href="http://www.emojimezcal.com" data-numposts="1" data-width="320px" data-order-by="social"></div>
            </div>
        </div>
    </div>
    
    
    
        </div>
    
       <%if(mensaje == "none"){ %>
        
    <%}else if(mensaje != ""){ %>
        <div id="message" style="color:black;">
            <div style="padding: 5px; ">
                <div id="inner-message" class="alert alert-error" style="background-color:white;">
                    <button type="button" class="close" data-dismiss="alert" style="margin-left:10px;">&times;</button>
                    <h4><%=mensaje%></h4>
                </div>
            </div>
        </div> 
    <% }%>
   
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Sep 13, 2017 00:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

          // Get todays date and time
          var now = new Date().getTime();

          // Find the distance between now an the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="demo"
          document.getElementById("demo").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";

          // If the count down is finished, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
          }
        }, 1000);
        
         // Set the date we're counting down to
        var countDownDate = new Date("Sep 13, 2017 00:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

          // Get todays date and time
          var now = new Date().getTime();

          // Find the distance between now an the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="demo"
          document.getElementById("demo2").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";

          // If the count down is finished, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo2").innerHTML = "EXPIRED";
          }
        }, 1000);
        
</script>
    
     <% include ../partials/foot.ejs %>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
   
</html>
