<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '131374620779519'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=131374620779519&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    
</head>
    
    <style>
     .gif {
        background-repeat: no-repeat;
        background-position: center; 
    }
        
    body{
       background-color: #ffcc16;      
        }        
        
      .dropdown-menu, .dropdown-toggle, .dropdown{
        background-color:transparent;
        border: none;  
    }
    
    .dropdown-toggle:hover{
        background:transparent;
        border: none; 
    }    
        
        .button:hover {
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
        
    </style>
    
<body style="color:black">
    
      <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=344206336019280";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=344206336019280";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <% include ../partials/es/nav.ejs %>
    
    <div class="gif" align="center" style="height:100%; width:100%; height:1000px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style=" text-align:center; z-index:-1;"  align="center">
                <h1 align="center" style="text-align:center; margin-top:10px; font-family:Fjalla One;">Proceso de Aceptación</h1>
            </div>
            <div class="col-lg-12" align="center">
               
                <ul style="max-width:500px; padding:0;" align="justify" style="text-align:center; font-family:Fjalla One;">
                    <br>
                    <ol style="padding:0;">
                        <h2>
                        1. DISEÑO
                        </h2>
                        <img src="img/veladoras.png"></ol>
                    <br>
                    <ol style="padding:0;">
                        <h2>
                        2. JUSTIFICACIÓN  </h2>  
                        <p><a href="/porque" style="color:black;">Ver más...</a></p>
                        
                    </ol >
                    <br>
                    <ol style="padding:0;" ><h2>3. SOLICITUD</h2>
                    <p>Para ser considerado en la publicación <em>Unicode Standard 2018</em>, la propuesta de emoji debe presentarse antes del 15 de Septiembre de 2017.</p>    
                    </ol>
                    <br>
                    <ol style="padding:0;" ><h2>4. REVISIÓN DE COMITÉ</h2>
                    <p>La propuesta será revisada por <em>Unicode Consortium</em> ubicada en EEUU, la cual es una organización sin fines de lucro fundada para desarrollar, extender y ampliar el uso de estándares globales que especifican la representación de textos en productos de software moderno y otros estándares (como los emojis). www.unicode.org 
                    </p>
                    </ol>
                    <br>
                    <ol style="padding:0;" ><h2>5. APROBACIÓN</h2>
                    <p>De ser aprobado y después de algunas pruebas beta, el emoji estará listo para su despliegue y se publicará en su primer versión a finales de Junio 2018, una vez publicado, podremos disfrutar nuestro #emojimezcal.
                    </p>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
        <form id="votacion" method="post" action="/votacion" >
        <div class="container" align="center" style="text-align:center;"> 
            <div class="row" align="center">
                    <div class="col-lg-12" align="center" style="margin-bottom:15px;">
                        <div class="input-wrap">
                        <button class="button" form="votacion" style="background-color:black; color:white; font-size:150%; border:none;">VOTA AQUÍ</button>
                        </div>
                    </div>
                <div class="col-lg-12" align="center" style="text-align:center; margin-bottom:10px;">
                        <input style="background-color: white; width:300px;" type="email" value="" tabindex="2" placeholder="Correo electrónico" name="email" required>
                    </div>
                 <br/>
                     <div class="fb-like" data-href="http://www.emojimezcal.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
                    <br/>
                <br>
                <div class="fb-share-button" data-href="http://www.emojimezcal.com/" data-layout="button" data-size="large" data-mobile-iframe="true" style="margin-top:10px;"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.emojimezcal.com%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
        </div>
        </form>
        
        <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
                <div class="fb-comments" data-href="http://www.emojimezcal.com" data-numposts="1"></div>
            </div>
        </div>
    </div>
        
    </div>
    
    
    
</body>
    
    <% include ../partials/foot.ejs %>
    
</html>